name: Build Tests

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: bazelbuild/setup-bazel@v2
      - run: bazel build //test/...
      - run: ls -lah bazel-bin/test/