name: Build Tests

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: bazelbuild/setup-bazelisk@v3
      - name: Build & Test
        run: |
          bazel build --config=ci //test/gcc/... --platforms=//platforms:arm_none_eabi
          bazel build --config=ci //test/interop/... --platforms=//platforms:arm_none_eabi
          bazel build --config=ci //test/rustc/...