name: Build Tests

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: bazelbuild/setup-bazelisk@v3
      - name: Build & Test
        run: |
          bazel test //... \
            --repository_cache=$HOME/.cache/bazel-repo \
            --disk_cache=$HOME/.cache/bazel-disk